/*Extend the top navigation bar downward, in order to seat bigger logo*/
.navbar-nav {
    margin: 0px;
    padding-top: 25px;
    height: 100px;
}

.navbar-brand img {
    width: 283px;
    height: 95px;
}

.navbar-brand {
    padding: 2.5px;
}
